.form1{
    margin-top: 15%;
    margin-left: 45%;
}

.form2{
    margin-top: -13%;
    margin-left:70%;

}
.test{
    margin-top: 5%;
}

h2{
    margin-top: -13%;
    margin-left: 70%;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
h3{
    margin-top: -3%;
    margin-left: 45%;
    font-size: 18px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
button{
    margin-top: 2%;
    margin-left: 39%;
    border: none;
    padding-top: 5px;
    border-radius: 3px;
    background-color: #54A9A7;
    width: 100px;
    cursor: pointer;
}
#fname{
    background-color: #d6f5f1ad;
    border: none;
    border-radius: 5px;
    border-color:lightgrey;
    padding-top: 10px;
    width: 250px;
}
#lname{
    background-color: #d6f5f1ad;
    border: none;
    border-radius: 5px;
    border-color:lightgrey;
    padding-top: 10px;
    width: 250px;
}
#tel{
    background-color: #d6f5f1ad;
    border: none;
    border-radius: 5px;
    border-color:lightgrey;
    padding-top: 10px;
    width: 250px;
}
#email{
    background-color: #d6f5f1ad;
    border: none;
    border-radius: 5px;
    border-color:lightgrey;
    padding-top: 10px;
    width: 250px;
}
#date{
    background-color: #d6f5f1ad;
    border: none;
    border-radius: 5px;
    border-color:lightgrey;
    padding-top: 10px;
    width: 250px;
}
#time{
    background-color: #d6f5f1ad;
    border: none;
    border-radius: 5px;
    border-color:lightgrey;
    padding-top: 10px;
    width: 250px;
}
#header{
    display: inline-block;
}
.topnav {
    overflow: hidden;
    background-color: #b2d1d1;
    margin-top: 13%;
    margin-left: 55%;
    padding: 20px;
  }
.topnav a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
#search{
    border-color:lightgrey;
    padding-top: 10px;
    width: 160px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 14px;
}
#image{
    margin-top: -8%;
    margin-left: 0%;
}
#img{
    margin-top: -8%;
    margin-left: 5%;
}
#check{
    margin-top: -8%;
    margin-left: 5%;
}

@media screen and (max-width: 2000px){
    .form1{
        margin-left: 45%;
        margin-top: 15%;
    } 
}

@media screen and (max-width: 1300px){
    .form1{
        margin-left: 45%;
        margin-top: 15%;
    } 
}

@media screen and (max-width: 1184px){
    .test{
        margin-top: 25%
    }
    button{
        margin-top: -29%;
        margin-left: -2%;
    }
    #fname{
        margin-left: -65%;
        margin-top: -35%;
    } 
    #lname{
        margin-left: -65%;
        margin-top: -32%;
    }
    #tel{
        margin-left: -65%;
        margin-top: -29%;
    }
    #email{
        margin-left: -65%;
        margin-top: -26%;
    }
    #date{
        margin-left: -50%;
        margin-top: -40%;
    }
    #time{
        margin-left: -50%;
        margin-top: -37%;
    }
    h2{
        margin-left: 54%;
        margin-top: -12%;
    }
    h3{
        margin-top: -2%;
        margin-left: 9%;
    }
}

@media screen and (max-width: 1040px){
    .test{
        margin-top: 25%
    }
    button{
        margin-top: -29%;
        margin-left: -2%;
    }
    #fname{
        margin-left: -65%;
        margin-top: 15%;
    } 
    #lname{
        margin-left: -65%;
        margin-top: -22%;
    }
    #tel{
        margin-left: -65%;
        margin-top: -19%;
    }
    #email{
        margin-left: -65%;
        margin-top: -16%;
    }
    #date{
        margin-left: -50%;
        margin-top: -40%;
    }
    #time{
        margin-left: -50%;
        margin-top: -37%;
    }
    h2{
        margin-left: 54%;
        margin-top: -16%;
    }
    h3{
        margin-top: -3%;
        margin-left: 9%;
    }
}

@media screen and (max-width: 930px){
    #image{
        margin-top: 15%
    }
}
@media screen and (max-width: 875px){
    h3{
        margin-top: -7%;
        margin-left: 9%;
    }
}
@media screen and (max-width: 775px){
    h3{
        margin-top: -10%;
        margin-left: 9%;
    }
    h2{
        margin-top: -20%;
        margin-left: 55%;
    }
}
@media screen and (max-width: 655px){
    h3{
        margin-top: -15%;
        margin-left: 9%;
    }
}
@media screen and (max-width: 595px){
    h3{
        margin-top: -16%;
        margin-left: 9%;
    }
}