/* Chat containers */
.container {
    border: 2px solid #dedede;
    background-color: #f1f1f1;
    border-radius: 5px;
    padding: 10px;
    margin: 0% 5% 1% 40%;
  }
  
  /* Darker chat container */
  .darker {
    border-color: #ccc;
    background-color: #ddd;
  }

  .textbox {
    border-color: black;
    background-color:rgba(255, 255, 255, 0.986);
    padding: 10px;
    
  }
  
 

  /* Clear floats */
  .container::after {
    content: "";
    clear: both;
    display: table;
  }
  
  
  
  /* Style time text */
  .time-right {
    float: right;
    color: #aaa;
  }
  
  /* Style time text */
  .time-left {
    float: left;
    color: #999;
  }

 