
.widget{
  display: inline-block;
  width: 200px;
  height: 150px;
  padding-left: 1%;
  margin-top: 12%;
  border-radius: 7%;
  margin-left: 3%; 
}

#widget1{
  background-color: #a8d6d0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#widget2{
  background-color: #75b6ad;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#widget3{
  background-color: #4b8880;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#widget1:hover {
  background-color: #2ee5c6;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(7px);
  transition-duration: 0.4s;
  cursor: pointer;
}
#widget2:hover {
  background-color: #2ee5c6;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(7px);
  transition-duration: 0.4s;
  cursor: pointer;
}
#widget3:hover {
  background-color: #2ee5c6;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(7px);
  transition-duration: 0.4s;
  cursor: pointer;
}

#atext{
  text-decoration: none;
}

#text1{
  width: 90%;
  text-align: center; 
  padding-top: 50px;
  color: black;  
}
#text2{
  width: 90%;
  text-align: center; 
  padding-top: 50px;
  color: black;
}
#text3{
  width: 90%;
  text-align: center;
  padding-top: 50px; 
  color: black;
}

#calendar{
  margin-top: -10%;
  margin-left: 47%;
}

#chat{
  margin-top: -15%;
  margin-left: 2.5%;
}

@media screen and (max-width: 3000px) {
  #chat{
    margin-left: 3%;
    margin-top: -15%;
    max-width: 40%;
  }
  #calendar{
    
    margin-left: 40%;
    width: 50%;
  }
}
@media screen and (max-width: 2250px) {
  #chat{
    margin-left: 3%;
    margin-top: -15%;
    max-width: 40%;
  }
  #calendar{
    
    margin-left: 45%;
    width: 50%;
  }
}
@media screen and (max-width: 1772px) {
  #chat{
    margin-left: 3%;
    margin-top: -15%;
    max-width: 40%;
  }
  #calendar{
    
    margin-left: 50%;
    width: 50%;
  }
}
@media screen and (max-width: 1617px) {
  #chat{
    margin-left: 3%;
    margin-top: -15%;
    max-width: 40%;
  }
  #calendar{
    margin-left: 55%;
    width: 50%;
  }
}
@media screen and (max-width: 1430px) {
  #chat{
    margin-left: 3%;
    margin-top: -15%;
    max-width: 40%;
  }
  #calendar{
    margin-left: 60%;
    width: 50%;
  }
}

@media screen and (max-width: 1278px) {
  #chat{
    margin-left: 3%;
    margin-top: -15%;
    max-width: 40%;
  }
  #calendar{
    margin-left: 70%;
    width: 50%;
  }
}
@media screen and (max-width: 1065px) {
  #chat{
    margin-left: 3%;
    margin-top: 15%;
    max-width: 40%;
  }
  #calendar{
    margin-top: 10%;
    margin-left: 5%;
    width: 50%;
  }
}