#paraggelia{
  margin-top: 0.5%;
}
.center{
  text-align: center;
}
#legend{
  padding-top: 20%;
}
#table{
  text-align: center;
}
#separate{
  margin-top: 7%;
}
#stixia{
 margin-top: 2%;
}


.widget{
  display: inline-block;
  width: 100px;
  height: 45px;
  padding-left: 1.5%;
  margin-top: 5%;
  border-radius: 7%;
  text-align: center;
  margin:auto;
  display: flex
}

#widget1{
  background-color: #a8d6d0;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  
}
.widget2{
  display: inline-block;
  width: 50px;
  height: 45px;
  margin-top: 5%;
  border-radius: 7%;
  text-align: center;
  margin:auto;
}

#atext{
  text-decoration: none;
}
#text1{
  color: black;  
  position: fixed;
  margin-left: 9px;
}
#text2{
  width: 90%;
  text-align: center;
  padding-left: 2px; 
  color: black;
}
#widget1:hover {
  background-color: #2ee5c6;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: black;
  transform: translateY(7px);
  transition-duration: 0.4s;
  cursor: pointer;
}
.styled-table {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  margin-left: auto;
  margin-right: auto;
}
.styled-table thead tr {
  background-color: #54A9A7;
  color: #ffffff;
  text-align: left;
}
.styled-table th,
.styled-table td {
    padding: 12px 15px;
}
.styled-table tbody tr {
  border-bottom: 1px solid #dddddd;
}

.styled-table tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.styled-table tbody tr:last-of-type {
  border-bottom: 2px solid #0d4a3e;
}
.styled-table tbody tr.active-row {
  font-weight: bold;
  color: #145a4c;
}

@media screen and (max-width: 1920px) {
  #text1{
    color: black;  
    position: fixed;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1120px) {
  #text1{
    color: black;  
    position: fixed;
    margin-left: 9px;
  }
}