.middle{
  margin-left: auto;
  margin-right: auto;
}
#paraggelia{
  margin-top: 0.5%;
}
.center{
  text-align: center;
}
#legend{
  padding-top: 20%;
}
#table{
  text-align: center;
}
#separate{
  margin-top: 7%;
}
#stixia{
 margin-top: 2%;
}
