 .main-body {
        position: relative;
        margin-left: 25%;
        top: 120px;
  }
    
  #form {
        position: flex;
        left: 10%;
        bottom: 40%;
        width: 60%;
        height: 44px;
        border-radius: 5px;
        display: flex;
        flex-direction: row;
        align-items: center;
  }
      
  #query {
        position: flex;
        all: unset;
        font: 16px system-ui;
        color: #fff;
        height: 100%;
        width: 90%;
        padding: 6px 10px;
  }
    
  #button {
        all: unset;
        cursor: pointer;
        width: 50px;
        height: 44px;
  }

  .widget{
    display:inline-block;
    position:relative;
    width: 20%;
    height: 100px;
    padding-left: 1%;
    margin-top: 4%;
    border-radius: 8%;
    margin-left: 3%;
    align-content: center;
  }

  #widget1{
    background-color: #a8d6d0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height:auto;
  }
  
  #widget2{
    background-color: #75b6ad;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height:auto;
  }
  
  #widget3{
    background-color: #4b8880;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height:auto;
  }
  
  #widget4{
    background-color: #a8d6d0;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height:auto;
  }
  
  #widget5{
    background-color: #75b6ad;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height:auto;
  }
  
  #widget6{
    background-color: #4b8880;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    height:auto;
  }


  #widget1:hover {
    background-color: #2ee5c6;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(7px);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  #widget2:hover {
    background-color: #2ee5c6;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(7px);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  #widget3:hover {
    background-color: #2ee5c6;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(7px);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  
  #widget4:hover {
    background-color: #2ee5c6;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(7px);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  #widget5:hover {
    background-color: #2ee5c6;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(7px);
    transition-duration: 0.4s;
    cursor: pointer;
  }
  #widget6:hover {
    background-color: #2ee5c6;
    box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
    color: black;
    transform: translateY(7px);
    transition-duration: 0.4s;
    cursor: pointer;
  }

  #text1{
    width: 90%;
    text-align:center; 
    padding-top: 25%;
    padding-bottom: 15%;
  }
  #text2{
    width: 90%;
    text-align: center; 
    padding-top: 25%;
    padding-bottom: 15%;
  }
  #text3{
    width: 90%;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 15%;
  }
  
  #text4{
    width: 90%;
    text-align:center; 
    padding-top: 25%;
    padding-bottom: 15%;
  }
  #text5{
    width: 90%;
    text-align: center; 
    padding-top: 25%;
    padding-bottom: 15%;
  }
  #text6{
    width: 90%;
    text-align: center;
    padding-top: 25%;
    padding-bottom: 15%;
  }
  

