.main-body{
  margin-top: 10%;
  margin-left: 5%;
  margin-right: 5%;
}

#back-button{
  margin-bottom: 5%;
  width:100px;
  height: 30px;
  background-color:#96CEA7;
  border-radius: 1%;
  border-style: dotted;
  text-decoration: none;
}

#back-button-link{
  text-decoration: none;
  color:#24493D;
}

#prod-title{
  color: #96CEA7;
  font-size: 20px;
  font-weight: bold;
  margin-left: 20%;
  margin-top: -16%;
}

#initial-price{
  color: #24493D;
  margin-left: 15%;
}


#features{
  color:#96CEA7;
  margin-left: 20%;
}

.product-image {
    width: 200px;
    height: 200px;
}

.dot {
    height: 7px;
    width: 7px;
    margin-left: 6px;
    margin-right: 6px;
    margin-top: 3px;
    background-color: #24493D;
    border-radius: 50%;
    display: inline-block
}

#description{
  text-align: justify;
  margin-left: 20%;
  margin-right: 30%;
  color: #24493D;
}

#details-button{
  height:35px;
  width: 100px;
  background-color:#96CEA7;
  border-radius: 1%;
  border-style: dotted;
  margin-left: 20%;
}

h5 {
    font-weight: 400
}

.para {
    font-size: 16px
}